:root {
    --text: #0e0e0d;
    --background: #f6f6f5;
    --primary: #909270;
    --secundary: #c4c6aa;
    --accent: #b9bb8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container-form {
    width: 600px;
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.container-form form {
    margin: 0 auto;
}

.container-form form button {
    width: 100%;
}