:root {
    --text: #0e0e0d;
    --background: #f6f6f5;
    --primary: #909270;
    --secundary: #c4c6aa;
    --accent: #b9bb8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container-pagina-inicial {
    max-width: 960px;
    height: 100vh;
    border: 1px solid var(--primary);
    margin: 0 auto;
}

.container-pagina-inicial header {
    background-color: var(--secundary);
}

.card-container {
    max-width: 600px;
    margin: 0 auto;
}